@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: url(./image/background.jpg);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#searchInput {
  padding: 10px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px black;
  background-color: #53597f;
  outline: none;
  margin-top: 15px;
  margin-right: 30px;
  color: #fff;
}

#searchInput::placeholder {
  color: red;
  font-size: 15px;
  text-align: center;
}

.films {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.film {
  margin: 6px;
  width: 260px;
  height: 405px;
  background-color: #53597f;
}

.filmPicture {
  width: 260px;
  height: 320px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.filmName {
  font-size: 13px;
  color: lightgrey;
  margin-right: 10px;
}

.rating {
  font-size: 15px;
  color: black;
  background-color: rgb(223, 216, 21);
  padding: 3px;
}

.green {
  background-color: rgb(22, 112, 22);
  color: #fff;
}

.yellow {
  background-color: rgb(223, 216, 21);
  color: black;
}

.red {
  background-color: red;
  color: #fff;
}
